@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&family=Quicksand:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  /* margin-top: 100px; */
}

button:active {
  opacity: 0.85;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 45px;
  align-items: center;
  gap: 75px;
  font-size: 24px;
  background-color: black;
  color: white;
}

.main-logo {
  font-size: 42px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #46ffd3;
}

.selected {
  max-height: 30px;
  cursor: pointer;
  transition: scale 250ms;
}

.cart-logo {
  max-height: 45px;
  cursor: pointer;
}

.selected:hover,
.cart-logo-container:hover {
  scale: 1.2;
}

.cart-logo-container {
  position: relative;
  transition: scale 250ms;
}

.cart-count {
  position: absolute;
  bottom: 0;
  left: -15px;
  padding: 2px 7px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  background-color: #ff9999;
  color: black;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
  background-color: #222;

  position: absolute;
  top: -90px;
  left: 0;
  right: 0;

  transition: top 350ms ease-in-out;
}

.show-menu {
  top: 0;
}

.brands-list {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-list>li,
.home-logo {
  list-style: none;
  cursor: pointer;
  transition: scale 200ms;
}


.brands-list>li:hover,
.home-logo:hover {
  scale: 1.1;
}

.home-logo {
  width: 30px;
}

.samsung-logo,
.oneplus-logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.apple-logo {
  height: 42px;
  width: 100px;
  object-fit: contain;
}

.google-logo {
  height: 30px;
  width: 80px;
  object-fit: contain;
}

.iqoo-logo {
  height: 30px;
  width: 70px;
  object-fit: contain;
}

.phone-list {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  background-color: #eee;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.card>img {
  align-self: center;
  width: 180px;
  height: 200px;
  padding: 20px;
}

.details {
  border-top: 1px solid #aaa;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details>div:nth-child(2) {
  font-weight: 700;
  margin-bottom: 10px;
}

.add-to-cart {
  align-self: center;
  padding: 10px 65px;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
  color: white;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 200ms;
}

.add-to-cart:hover {
  background-color: #222;
}

.add-to-cart:disabled {
  background-color: #777;
  cursor: default;
}

.home {
  position: relative;
  background: url("./images/Logos/background-wave.png");
  background-position: top;
  min-height: calc(100vh - 20px);
  font-family: 'Poppins', sans-serif;
}

.home-main {
  position: absolute;
  top: 10%;
  left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 250px;
}

.home-main>div:nth-child(1) {
  color: #999;
  letter-spacing: 4px;
  font-weight: 700;
}

.home-main>div:nth-child(2) {
  font-size: 44px;
  font-weight: 700;
}

.shop-now {
  padding: 10px 65px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 40px;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 200ms;
}

.shop-now:hover {
  background-color: #222;
}


.home-sec {
  position: absolute;
  top: 20%;
  right: 10%;
  border-radius: 10px;
  width: 450px;
  height: 240px;
}

.cart {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -36vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 35vw;
  font-family: 'Poppins', sans-serif;
  transition: right 550ms ease-in;
}

.show-cart {
  right: 0;
}

.cart>div {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.cart>div:nth-child(3) {
  font-size: 26px;
}

.cart>ul {
  max-height: 35vh;
  width: 25vw;
  overflow-x: auto;
  margin-bottom: 20px;
}

.cart>button {
  width: 20vw;
  margin-bottom: 20px;
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms;
}

.checkout {
  background-color: #46ffd3;
}

.close {
  background-color: #ff9999;
}

.checkout:hover {
  background-color: #25ecbd;
}

.close:hover {
  background-color: #e98a8a;
}

.overlay {
  background-color: #0007;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100vw;
  transition: right 750ms ease-in;
}

.show-overlay {
  right: 0;
}