@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&family=Quicksand:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  /* margin-top: 100px; */
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 75px;
  font-size: 24px;
  background-color: black;
  color: white;

  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
}

.brands-list {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-list>li {
  list-style: none;
  cursor: pointer;
  transition: scale 200ms;
}


.brands-list>li:hover {
  scale: 1.1;
}

.samsung-logo,
.oneplus-logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.apple-logo {
  height: 42px;
  width: 100px;
  object-fit: contain;
}

.google-logo {
  height: 30px;
  width: 80px;
  object-fit: contain;
}

.iqoo-logo {
  height: 30px;
  width: 70px;
  object-fit: contain;
}

.phone-list {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  background-color: #eee;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.card>img {
  align-self: center;
  width: 180px;
  height: 200px;
  padding: 20px;
}

.details {
  border-top: 1px solid #aaa;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details>div:nth-child(2) {
  font-weight: 700;
  margin-bottom: 10px;
}

.add-to-cart {
  align-self: center;
  padding: 10px 65px;
  font-weight: 700;
  background-color: black;
  color: white;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 200ms;
}

.add-to-cart:hover {
  background-color: #222;
}

.home {
  position: relative;
  background: url("./images/Logos/background-wave.png");
  background-position: top;
  min-height: calc(100vh - 20px);
  font-family: 'Poppins', sans-serif;
}

.home-main {
  position: absolute;
  top: 10%;
  left: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 250px;
}

.home-main>div:nth-child(1) {
  color: #999;
  letter-spacing: 4px;
  font-weight: 700;
}

.home-main>div:nth-child(2) {
  font-size: 44px;
  font-weight: 700;
}

.shop-now {
  padding: 10px 65px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 40px;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 200ms;
}

.shop-now:hover {
  background-color: #222;
}


.home-sec {
  position: absolute;
  top: 20%;
  right: 10%;
  border-radius: 10px;
  width: 450px;
  height: 240px;
}